<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head.ejs %>
</head>
<body>
    <header>
        <% include ./partials/header.ejs %>
    </header>
    <div class="indexContainer">
    <ul>
    <div class="horseIndex">
    <% for (let i = 0; i < horses.length; i++) { %>
        <li>
        <a href="/horses/<%=horses[i].id;%>">
        <h2 class="name"><%=horses[i].name%></h2>
        </a> 
        <br/>
        <img src="<%=horses[i].image%>" /> 
        <br/>
    </li>
    <%}%>
    </div>
    </ul>
</div>
</body>
</html>