<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head.ejs %>
</head>
<body>
    <h1>Horses</h1>
    <nav>
        <a href="/horses/feed">Go To Feed Schedule</a>
        <a href="/horses/new">Add Horse</a>
    </nav>
    <div class="container">
    <ul>
    <% for (let i = 0; i < horses.length; i++) { %>
        <li>
        <a href="/horses/<%=horses[i].id;%>">
        <h2><%=horses[i].name%></h2>
        </a> 
        <br/>
        Owner: <%=horses[i].owner%> <br/> 
        <img src="<%=horses[i].image%>" /> 
        <br/>
    </li>
    <%}%>
    </ul>
    </div>
</body>
</html>