<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head.ejs %>
</head>
<body>
    <form action="/horses" method="POST">
    Name: <input type="text" name="name" /> <br/>
    Owner: <input type="text" name="owner" /> <br/>
    Image: <input type="text" name="image" /> <br/>
    Age: <input type="text" name="age" /> <br/>
    Sex: <input type="text" name="sex" /> <br/>
    Breed: <input type="text" name="breed" /> <br/>
    Turn Out: <input type="checkbox" name="turnOut" /> <br/>
    Morning Hay: <input type="text" name="morningFeed.hay" /> <br/>
    Morning Feed: <input type="text" name="morningFeed.friends" /> <br/>
    Morning Supplements: <input type="text" name="morningFeed.supplements" /> <br/>
    Evening Hay: <input type="text" name="eveningFeed.hay" /> <br/>
    Evening Feed: <input type="text" name="eveningFeed.feed" /> <br/>
    Evening Supplements: <input type="text" name="eveningFeed.supplements" /> <br/>
    Special Instructions: <input type="text" name="specialInstructions" /> <br/>
    <input type="submit" value="Add Horse" /> <br/>
    </form>

</body>
</html>