<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Horse</title>
</head>
<body>
    <form class = newHorseForm action="/horses" method="POST">
    Name: <input type="text" name="name" /> <br/>
    Age: <input type="text" name="age" /> <br/>
    Breed: <input type="text" name="breed" /> <br/>
    Owner: <input type="text" name="owner" /> <br/>
    Turn Out: <input type="checkbox" name="turnOut" /> <br/>
    <input type="submit" name="" value="Add Horse" /> <br/>
    </form>

</body>
</html>