body {
    background-color: #0D2818;
    font-family: 'Work Sans', sans-serif;
}
header {
    text-align: center; 
    background-color: #216D33;
    padding: 2em;
    color: #E8E8E8;
    border: 2px solid #E8E8E8;
} 
.title {
    font-size: 45px;
}
a {
    color: black;
    margin: 1em;
    text-decoration: none;
}
.nav {

    color: #CAD2C5;
}
h1 {
    color: #CAD2C5;
    text-align: center;
}
h2 {
    margin: -.5em 0;
    color: #CAD2C5;
}
h3 {
    color: #CAD2C5;
    margin: -.5em 0;
}
.name {
    color: #010C0C;
}
.horseIndex {
    background-color: #CAD2C5;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2em;
}
.showMain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.showElement {
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 5em;
}
.showActions {
    display: flex; 
    flex-direction: row;
    align-items: center;
}
img {
    max-height: 400px;
    max-width: 400px;
    border-radius: 10%;
}
button {
    background-color: #2C6E49;
    color: #CAD2C5;
    font-size: 16px;
    padding: .5em;
    border-radius: 10%;
}
input[type="submit"] {
    background-color: #2C6E49;
    color: #CAD2C5;
    font-size: 16px;
    padding: .5em;
    border-radius: 10%;
}
.feedTitle {
    padding: 1em;
    text-align: center;
    color: #CAD2C5;;
}
table {
    border-collapse: collapse;
    font-size: 20px;
    margin: 2em;
    color: black;
    background-color: #CAD2C5;
}
th {
    border: 2px solid black;;
    padding: 5px;
}
td {
    border: 2px solid ;;
    padding: 5px;
    color: ;
}
a :hover {
    cursor: pointer;
}
li {
    list-style-type: none;
    margin-left: 2em;
    padding: -1em;
}
ul {
    background-color: #CAD2C5;;
    padding: 1em;
}
input {
    padding: .5em;
    margin: .5em;
}
.editHorseForm {
    background-color: #CAD2C5;
    padding: 2em;
}
input {
    border: 1px solid ;
}
input :hover {
    border: 1px solid #2C6E49;
}
.addHorseForm {
    background-color: #CAD2C5;
    padding: 2em;
}

